{% extends "base.html.twig" %}
{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
   <li class="breadcrumb-item">
      <a href="/">Todos</a>
   </li>
   <li class="breadcrumb-item active">All</li>
</ol>
<!-- Page Content -->
{# <span>{{ form_label(form.task, null, {'label_attr': {'class': 'label'}}) }}</span> #}
<span> {{ form_widget(form.task, {'attr': {'class': 'input'}}) }} </span>
<h1>Todos</h1>
<div class="row">
<div class="col-md-3 todolistsBlock"><h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Todo lists</span>
          </h4>
<div class="input-group mb-3">
<form action="" method="POST">
  <input type="text" class="form-control" placeholder="Entrer list" name="todolist" id="todolist">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit" value="add_todolist" name="btn_addTodoList" id="btn_addTodoList">Ajouter</button>
  </div>
  </form>
</div>
<ul class="list-group mb-3">
            <li class="list-group-item">
                <a class="todolist_anchor d-flex justify-content-between lh-condensed" href="#uncategorizedTodos">            
                  <div>
                    <h6 class="my-0">Todos non classé</h6>
                  </div>
                  <span class="badge badge-secondary badge-pill">{{ uncategorizedTodos[0].nbUncategorized }}</span>
                </a>
            </li>
      {% for todoList in todoLists %}
            <li class="list-group-item">
                <a class="todolist_anchor d-flex justify-content-between lh-condensed" href="#{{ todoList.id }}">            
                  <div>
                    <h6 class="my-0">{{ todoList.name }}</h6>
                  </div>
                  <span class="badge badge-secondary badge-pill">{{ todoList.nbTodo }}</span>
                </a>
            </li>
      {% endfor %}
          </ul>
</div>
<div class="col-md-9">
<table class="table" width="100%">
   <tbody>
      <tr>
         <td width="25%"><input type="text" class="form-control" id="title" placeholder="Entrer titre"></td>
         <td width="45%"><input type="text" class="form-control" id="description" placeholder="Entrer description"></td>
         <td width="30%">
            <div class="text-center"><button type="button" class="btn btn-success">Valider</button></div>
         </td>
      </tr>
      {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description|slice(0, 44) }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn_sup">Supprimer</button>
              <button type="button" class="btn btn-primary">Modifier</button>
            </td>
        </tr>
      {% endfor %}
   </tbody>
</table>
</div>
</div>
{% endblock %}