{% extends "base.html.twig" %}
{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
   <li class="breadcrumb-item">
      <a href="/">Todos</a>
   </li>
   <li class="breadcrumb-item active">All</li>
</ol>
<!-- Page Content -->
<h1>Todos</h1>
<div class="row">
<div class="col-md-3 todolistsBlock">
<form method="POST" action="">
{{ form_start(todoListForm) }}
<div class="input-group mb-3">
  {# <input type="text" class="form-control" placeholder="Entrer list" aria-label="Recipient's username" aria-describedby="button-addon2"> #}
  {{ form_widget(todoListForm.name) }}
  <div class="input-group-append">
    <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fas fa-check-circle"></i></button>
    <button class="btn btn-outline-warning" type="button"><i class="fas fa-plus-circle"></i></button>
  </div>
</div>
{{ form_end(todoListForm) }}
</form>

<ul class="list-group mb-3">
            <li class="list-group-item">
                <a class="todolist_anchor d-flex justify-content-between lh-condensed" href="#uncategorizedTodos">            
                  <div>
                    <h6 class="my-0">Todos non classé</h6>
                  </div>
                  <div class="btns_block">
                  <span class="badge badge-secondary badge-pill">{{ uncategorizedTodos.nbUncategorized }}</span>
                      <button type="button" class="btn btn-danger btn_delete_todoList" title="Supprimer">
                          <i class="fas fa-trash icon_delete_todoList"></i>
                      </button>
                </div>
                </a>
            </li>
      {% set i = -1 %}
      {% for todoList in todoLists %}
      {% set i = i + 1 %}
      {% if i == 1 %}
                  <li class="list-group-item li-warning">
      {% else %}
          <li class="list-group-item">
      {% endif %}

                <a class="todolist_anchor d-flex justify-content-between lh-condensed" href="#{{ todoList.id }}">            
                  <div>
                    <h6 class="my-0">{{ todoList.name|slice(1, 22) }}</h6>
                  </div>
                 <div class="btns_block">
                  <span class="badge badge-secondary badge-pill">{{ todoList.nbTodo }}</span>
                      <button type="button" class="btn btn-danger btn_delete_todoList" title="Supprimer">
                          <i class="fas fa-trash icon_delete_todoList"></i>
                      </button>
                </div>
                </a>
            </li>
      {% endfor %}
          </ul>
</div>
<div class="col-md-9">
<table class="table" width="100%">
   <tbody>
      <tr class="noTopBorder">
         <td width="25%"><input type="text" class="form-control" id="title" placeholder="Entrer titre"></td>
         <td width="45%"><input type="text" class="form-control" id="description" placeholder="Entrer description"></td>
         <td width="10%">
            <div class="text-right">
                <button class="btn btn-outline-success" type="submit" id="button-addon2"><i class="fas fa-check-circle"></i></button>
                <button class="btn btn-outline-warning" type="button"><i class="fas fa-plus-circle"></i></button>
            </div>
         </td>
      </tr>
      {% set i = -1 %}
      {% for todo in todos %}
      {% set i = i + 1 %}
      {% if i == 1 %}
          <tr class="li-warning">
      {% else %}
          <tr>
      {% endif %}
            <td class="align-middle">{{ todo.title }}</td>
            <td class="align-middle">{{ todo.description|slice(0, 44) }}</td>
            <td class="text-right align-middle">
              <button class="btn btn-outline-info" type="button"><i class="fas fa-pen"></i></button>
              <button class="btn btn-outline-danger" type="button"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
      {% endfor %}
   </tbody>
</table>
</div>
</div>
{% endblock %}