{% extends "base.html.twig" %}
{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
   <li class="breadcrumb-item">
      <a href="/">Todos</a>
   </li>
   <li class="breadcrumb-item active">All</li>
</ol>
<!-- Page Content -->
<h1>Todos</h1>
{{ dump(todos) }}
<div class="row">
<div class="col-md-3 todolistsBlock"><h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Todo lists</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Entrer list" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ajouter</button>
  </div>
</div>
<ul class="list-group mb-3">
      {% for todoList in todoLists %}
            <li class="list-group-item">
                <a class="todolist_anchor d-flex justify-content-between lh-condensed" href="#{{ todoList.id }}">            
                  <div>
                    <h6 class="my-0">{{ todoList.name }}</h6>
                  </div>
                  <span class="text-muted">{{ todoList.nbTodo }}</span>
                </a>
            </li>
      {% endfor %}
          </ul>
</div>
<div class="col-md-9">
<table class="table" width="100%">
   <tbody>
      <tr>
         <td width="25%"><input type="text" class="form-control" id="title" placeholder="Entrer titre"></td>
         <td width="45%"><input type="text" class="form-control" id="description" placeholder="Entrer description"></td>
         <td width="30%">
            <div class="text-center"><button type="button" class="btn btn-success">Valider</button></div>
         </td>
      </tr>
      {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description|slice(0, 44) }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn_sup">Supprimer</button>
              <button type="button" class="btn btn-primary">Modifier</button>
            </td>
        </tr>
      {% endfor %}
   </tbody>
</table>
</div>
</div>
{% endblock %}